:root {
  --primaryColor: rgb(0 95 189);
  --activeColor: #4255fff5;
  --secondaryColor: #03014c;
  --fontColor: #0c053c;
  --backgroundColor: #f8f9ff !important;
  --shadowColor: 0 2px 6px 0.5px rgb(97 2 255 / 10%);
  --iconColor: #0015d587;
  --largeIconBg: #d8ffed;
  --ButtonBG: #0000ba;
  --btnHover: #004991;
}

body {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  ;
  background: var(--backgroundColor) !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

main,
.main-content {
  margin-top: 110px;
  margin-bottom: 35px;
  padding: 100px;
  padding-top: 30px !important;
  flex: 1;

}

h1,
h2,
h3,
h4 {
  color: var(--fontColor);
}

h3 {
  font-weight: 650 !important;
  margin: 0px !important;
  margin-bottom: 1rem !important;
  font-size: 2.3rem !important;
  color: var(--fontColor) !important;
  text-align: center !important;
}


.myShadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10) !important;
}

/* =============================>>> for animation start  <<<======================================*/

.zoomSlide {
  animation: zoomSlide 1.5s ease forwards;
}

@keyframes zoomSlide {
  0% {
    transform: translateY(100px) scale(2);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}



.zoomInAni {
  animation: zoomInAni 1.5s ease forwards;
}

@keyframes zoomInAni {
  0% {
    transform: translateY(10px) scale(1.2);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}


.downTopAni {
  animation: downTopAni 0.8s ease-out forwards;
}

@keyframes downTopAni {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ===========>>>>  animation end <<<================== */









/* media query start  */

/* start for mobile  */

@media only screen and (min-width:200px) and (max-width:575px) {

  main,
  .main-content {
    padding-right: 0px !important;
    padding-left: 0px !important;

  }



}