.aboutTopic {
  padding-bottom: 60px;
}



.aboutArea img {
  max-width: 100%;
  height: auto;
}

.aboutText ul {
  padding-left: 1rem;
}

.aboutText ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.aboutText ul strong {
  margin-right: 10px;
}


/* ======================>> skill area start <<================ */
.skillBox {
  padding: 5rem 9rem;
}